.form-control-container {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  max-width: 600px; 
  padding: 20px; 
}

.form-group {
  display: flex;
  align-items: center;

  gap: 8px; 
}

.form-group label {
  width: 150px;
  text-align: right; 
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.w350 {
  width: 350px; 
}
